{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "@/api/(.*)$",
    "@/app/(.*)$",
    "@/components/ui/(.*)$",
    "@/components/(.*)$",
    "@/features/(.*)$",
    "@/lib/(.*)$",
    "@/pages/(.*)$",
    "@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
